.nav-bar {
  background: green;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 14
}

.nav-bar a:hover {
  color:white;
}

.menu-item{
  color: white;
  margin-right: 60;
  cursor: pointer;
}

.welcome-content{
  margin: 0 30px 30px 30px;
  display: flex;
  flex: 1;
  flex-direction: row ;
  align-items: center;
  justify-content: flex-start;
}

.welcome-title{
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 100;
}

div .content-text{
  margin-left: 30px;
}

div .next-paragraph{
  margin-top: 40px;
}

.login-container{
  display: flex;
  flex: 1;
  flex-direction: column ;
  align-items: center;
  align-content: center;
  height: 100%;
}

.login-fill-in {
  display: flex;
  flex: 1;
  flex-direction: column ;
  align-items: center;
  align-content: center;
  width: 45%;
}

.login-element{
  margin-bottom: 100px;
}

.login-field{
  margin-right: 4em;
}

.login-link{
  color: green;
}

button .login-button{
  background-color: green;
  margin-top: 10px;
}

.login-button-holder {
  margin-top: 10px;
}

.init-button {
  margin-left: 5px;
}

.divider {
  background: none;
}

.sample-app-enter {
  opacity: 0.01;
}

.sample-app-enter.sample-app-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.sample-app-leave {
  opacity: 1;
}

.sample-app-leave.sample-app-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.sample-app-appear {
  opacity: 0.01;
}

.sample-app-appear.sample-app-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in
}

.logo {
  display: inline-block;
}

.content-button {
  margin-bottom: 10px;
}

Button .login-button{
  margin-top: 10px;
  width: 40px;
}

.react-tabs {
 -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
 border-bottom: 1px solid #aaa;
 margin: 0 0 10px;
 padding: 0;
}

.react-tabs__tab {
 display: inline-block;
 border: 1px solid transparent;
 border-bottom: none;
 bottom: -1px;
 position: relative;
 list-style: none;
 padding: 6px 12px;
 cursor: pointer;
}

.react-tabs__tab--selected {
 background: #fff;
 border-color: #aaa;
 color: black;
 border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
 color: GrayText;
 cursor: default;
}

.react-tabs__tab:focus {
 box-shadow: 0 0 5px hsl(208, 99%, 50%);
 border-color: hsl(208, 99%, 50%);
 outline: none;
}

.react-tabs__tab:focus:after {
 content: "";
 position: absolute;
 height: 5px;
 left: -4px;
 right: -4px;
 bottom: -5px;
 background: #fff;
}

.react-tabs__tab-panel {
 display: none;
}

.react-tabs__tab-panel--selected {
 display: block;
}
